<h1>生育記録一覧</h1>

<p><%= link_to "新しい記録を投稿する", new_plant_log_path %></p>

<hr>

<% @plant_logs.each do |plant_log| %>
  <div style="margin-bottom: 2em;">
    <p>
      <strong>記録日時:</strong>
      <%= plant_log.created_at.strftime("%Y-%m-%d %H:%M") %>
    </p>

    <% if plant_log.image.attached? %>
      <%= image_tag plant_log.image, width: 400 %>
    <% end %>
    
    <p>
      <strong>コメント:</strong><br>
      <%= plant_log.comment %>
    </p>
  </div>
  <hr>
<% end %>